# Core dependencies
trimesh
jinja2
fastapi
uvicorn
pydantic
shapely
numpy<2.0.0

# CadQuery dependencies
cadquery
cadquery-ocp
multimethod
pyparsing
typish
ezdxf
nptyping
nlopt
casadi

# Testing dependencies
pytest
pytest-asyncio
pytest-cov
httpx

# Production dependencies
redis
python-multipart
